# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\DESENVOLVIMENTO\JAVA\INTELLIJ_IDEA\pharmacy-unit-testing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
